*, html {
    margin:0;
    padding:0;  
}
nav ul{
	position:fixed;
	top:0;
	margin:0;
	display:flex;
	width:100%;
	height:100px;
	list-style:none;
	border-bottom:2px solid rgb(255, 207, 0);
		background-color:white;

	

}
li:first-of-type{
	margin-right:auto;
	margin-left:10%;

}
li{
	margin-right:10%;
	background-color:white;
}

body{
	margin:0; padding:0;

}
section{
	display:flex;
	
	margin-top:100px;
	justify-content: space-around;
	text-align:center;
	background-color:lightgrey;
	height:100px;

}
section h2{
	margin-top:0;
	white-space:pre-wrap;
	font-size:2.8em;
	padding-bottom:100px;

}
section img:nth-of-type(2){
	height:100px;
	margin-right:100px;
}
article{
	display:flex;
	flex-wrap:wrap;
		background-color:blue;

}
article img{
	width:100%;
	background-color:blue;
}
article p{
	font-size:3em;
	color:white;
	padding:30px;
}
article button{
	background-color:white;
	border-radius:10%;
	width:20%;
	height:80px;
	margin-top:30px;
}