*, html {
	
    margin:0;
    padding:0;  
    font-family: 'Roboto', sans-serif;
}
ul p{
	margin:0 2.3em;
}
ul{
position:fixed;
	top:0;
	margin:0;
	display:flex;
	width:100%;
	
	list-style:none;
	border-bottom:.2em solid rgb(255, 207, 0);
		background-color:white;
}
li:first-of-type{
	margin-right:auto;
	margin-left:10%;

}
li{
	margin:1em;
	background-color:white;
}

nav img:first-of-type{
	height:5em;
}
section{
	margin-top:em;
	display:flex;
	justify-content:center;
	width:100%;
	font-size:2.5em;
}
section img{
	width:4em;
}
section a{
	text-decoration:none;
	color:#006db7;
}
section p{

	width:60%;
	white-space: pre-wrap;
}