*, html {
	
    margin:0;
    padding:0;  
    font-family: 'Roboto', sans-serif;

}
nav ul{
	position:fixed;
	top:0;
	margin:0;
	display:flex;
	width:100%;
	height:100px;
	list-style:none;
	border-bottom:2px solid rgb(255, 207, 0);
		background-color:white;

	

}
/*header{
	height:3em;
	margin:0;
}*/
li:first-of-type{
	margin-right:auto;
	margin-left:10%;

}
li{
	margin-right:10%;
	background-color:white;
}
nav img:first-of-type{
	height:2em;

}
body{
	margin:0; padding:0;
	height:500%;
overflow:scroll;

}
section{
	display:flex;
	
	margin-top:100px;
	justify-content: space-around;
	height:120px;

}

section p{
	margin-top:0;
	text-decoration:none;
	white-space:pre-wrap;
	font-size:2em;
	padding-bottom:100px;

}


section a{
	text-decoration:none;
	margin-left:1em;
}
section img:nth-of-type(2){
	height:120px;
	margin-right:100px;
}



article{

	display:flex;
	flex-direction:column;
	background-color:#E5C39A;

	

}
article img{

	width:100%;
}
article h1{
	font-size:3em;
	color:white;
	margin:auto;
}
article p{
text-align:center;
	font-size:2em;
	color:white;



}

article a {
	display:flex;
	text-decoration:none;
	white-space:nowrap;
	font-size:3em;
	color:black;
	background-color:white;
	border-radius:10%;
	width:40%;
	height:80px;
	margin: 20px auto;
	padding:10px 40px;
}
article a img{
	height:60%;
	margin:0;
	margin-top:10px;
}
article a p{
	margin:0;
}
#productplaatje{
	width:50%;
	margin:3em auto;
	background-color:white;

}
#product{
	background-color:white;
}
#product img:first-of-type{
	position:absolute;
	right:3em;
	width:3em;
}
#product h1{
	color:black;
	margin-left:2em;
}
}
table{
	font-size:3em;
	width:100%;
	margin-bottom:200px;
}
