html,*{
	top:0;

}

	body{
	margin:0; padding:0;
	font-family: 'Roboto', sans-serif;
}


nav ul{ 

	display:flex;
	list-style:none;
	margin-bottom:4rem;
	border-bottom:2px solid rgb(255, 207, 0);
	}


nav ul p{
	margin-top:0;
	color:grey;
	top:3em;
	position:absolute;
	z-index:1000;
	margin-left:-2rem;
	}

nav ul li:nth-of-type(2){
	margin-right:auto;
	}

nav ul button{
	margin-left:-2rem;
	border:none;
	background-color:white;
	}
nav ul button img{
	width:2rem;
	height:.8rem;
}
nav ul li{
	margin:.5em;
	height:3rem;
	width:3rem;
	}




nav ol{
	z-index:1000;

	position:fixed;
	right:100%;

	margin:0; padding:0;
	height:100vh;
	width:100%;

	
	display:grid;
	grid-template-rows:3em 3em 3em 3em;
	grid-template-columns:1fr 1fr auto;
	
	list-style-type:none;
	overflow:scroll;
	background-color:white;
	

	


}
.open{
		right:0;
		transition:1s;
}
.dicht{
		right:100%;
		transition:1s;
}


nav ol li{
	border-bottom:1px solid rgb(224, 224, 224);
display:flex;
flex-direction:row;
}

nav ol button{
	width:3em;
	height:3em;
	background:none;
	border:none;

}
nav ol li p{
	margin-left:.5em;
	margin-top:1em;
}


nav ol li:nth-of-type(1){
	grid-row:1;
	grid-column:1 / 3;
}
nav ol li:nth-of-type(2){
	height:calc(3em - 1px);
	grid-row:1;
	grid-column:3;
	border-left:1px solid rgb(224,224,224);
}

nav ol li{
	grid-column:1 /4;
	display:flex;
	flex-direction:row;
}



nav ol img{
	margin-left:.5em ;
	margin-top:.5em;
	width:2em;
	height:2em;
}




nav img{
	height:2rem;
}







header section{
	width:100%;
	margin-top:-4rem;
	max-width:100%;
	display:flex;
	justify-content: center;


}
header section img{
	width:84px;
	height:48px;
}
header section h3{
	margin-right:2rem;
	font-weight:normal;
	text-align:right;
	
}
header section a{
	color:#006db7;
	text-decoration:none;
}
main{
	max-width:100%;
}
.product{
	display:flex;
	flex-direction:column;
}
.product>img {

	max-width:80%;
	/*position:relative;*/
	margin:0 auto;
	transition:1s;

	
}

.product button{
	background-color:transparent;
	border:none;
}
.product button:first-of-type {
	position:absolute;
	top:15em;
	right: calc(30% + 3em);
	width:3em;
	height:3em;
	transition:1s;
	z-index:1000;
	object-fit:contain;
}
.product img:nth-of-type(2){
	position:absolute	!important;
	top:15em; 
	right: calc(30% + 3em);
	width:.1em;
	height:.1em ;
	transition:1s;
	object-fit:contain;

}
.favoriet{
	position:absolute !important;
	top:1em	!important;
	right:75px !important;
	width:3em	!important;
	height:3em	!important;
	transition:1s;
}
.vergroten{
	width:80%;
	height:80%;
	margin:0 auto;
	transition:1s;
}
@media(max-width:400px){
	.favoriet{
		right:50px !important;
		transition:0s;
	}
}
.product button img{
	height:2em;
	width:2em;
	object-fit:contain;
}
.product button:nth-of-type(2){
	position:absolute;
	
	border-radius:100px;
	background-color:lightgray;
	top:15em;
	right:30%;
	height:3em;
	width:3em;
	
}

.product ol{
	margin-right:3em;
	max-width:100%;
	justify-content:space-around;
	display:flex;
	list-style-type:none;
}
.product li img{
	margin:1em;
	height:3em;
	width:4em;
}
.product input:first-of-type{
	width:3em !important;
	border:1px solid black;
	text-align:center;
}
.product article{
	background-color:white !important;
	color:black	!important;
}
main article:first-of-type{
	padding-bottom:3em;
	width:100%;
	background-color:black;
	color:white;
	text-align:center;
}

main img{
	max-width:100%;

	object-fit:cover;
	object-position:80% 100%;
	height:40vh;
	transition:.5s;

}


main a{
	background-color:white;
	display:flex;
	text-decoration:none;
	border-radius:1em;
	max-width:50%;
	padding:.5em 3em;
	flex-wrap:nowrap;
	margin:0 auto 1em;

}
main a p{
	color:black;
	
	font-size:6vw;
	width:15rem;
	margin:0 ;
	text-align:left;


}



main a img{
	object-fit:contain;
	background-color:white;
	
	height:2em;
	margin-left:1em;
}


















@media(min-width:600px){
#eerste {
	display:grid;
	height:60vh;
	background-color:black;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh auto;

}
main article:first-of-type a img{
	height:2em;
	margin-left:.5em;
	margin-top:.5em;

}
main article:first-of-type img{
	height:60vh;
	margin:0;
	grid-row: 1 ;
	grid-column:1 / 4;
}
main h3{

	grid-row:1;
	grid-column:1 / 2;
}
main p{
	grid-row:1;
	grid-column: 1 / 2;
	margin-top:3rem;
}
main a p{
	white-space:nowrap;
	font-size:2em;
}
main a:first-of-type{
	height:3em;
	margin-top:6em;
	grid-row:1;
	grid-column: 1 / 2;



}
main a:nth-of-type(2){
	margin-top:11em;
	grid-row:1;
	grid-column: 1/ 2;
	height:3em;
}


}

main table{
	margin:3em auto;
}

main table tr{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:100%;
	text-align:center;
}
main table td{
	margin:0 2em;
	display:flex;
	flex-direction:column;
}
main table img{
	object-fit:contain;
	margin:0 auto;
	width:3.5em;
	height:3.5em;
}
main div{
	background-color:lightgray;
	margin-bottom:-1.5em;

}
main div article{
	display:flex	!important;
	flex-direction:column !important;
	flex-wrap:wrap !important;
	background-color:lightgray !important;
	color:black !important;
	text-align:center;
	padding-bottom:3em;

}

main div article img{
	object-fit:contain;
	margin:0 auto !important;
}
main div p{
	margin:0 !important;
}
main div a{
	margin:0 auto !important;
	padding:0;
	background-color:lightgray !important;
	color:black;
	border-radius:0;
	
	font-weight:bold;
}
@media(min-width:600px){
main div{
	display:grid;
	grid-template-rows:.5fr 3fr 1fr 1fr;
	grid-template-columns: 50% 50%;
}
main div h1{
	grid-row:1;
	grid-column:1;
	
}
main div article:first-of-type{
	flex-direction:column !important;
	max-width:100%;
	grid-row:2;

	grid-column:1;
}
main div article:nth-of-type(2){
	
	grid-row:2;
	grid-column:2;

}
main div img{
	width:80%;
	height:60vh;
}
}
footer{
	position:static;
	bottom:0;
	width:100%;
	height:40vh;
	color:white;
	background-color:rgb(0, 109, 183);
	
}
footer h2{
	text-align:center;
	
}
form{
	display:flex;
	justify-content:center;
}
input{
	border-style:none;
}
input:first-of-type{
	
	width:15em;
	height:5em;

	
}
input:nth-of-type(2){
	background-color:orange;
}
input:nth-of-type(2):hover{

background-color:lightblue;
}
