*, html {
	font-family:'Avenir' ;
    margin:0;
    padding:0;  

}
nav ul{
	position:fixed;
	top:0;
	margin:0;
	display:flex;
	width:100%;
	height:100px;
	list-style:none;
	border-bottom:2px solid rgb(255, 207, 0);
		background-color:white;

	

}
li:first-of-type{
	margin-right:auto;
	margin-left:10%;

}
li{
	margin-right:10%;
	background-color:white;
}
nav img{
	height:100px;
max-height:100px;
}
body{
	margin:0; padding:0;
	height:500%;
overflow:scroll;

}
section{
	display:flex;
	
	margin-top:100px;
	justify-content: space-around;
	text-align:center;
	background-color:lightgrey;
	height:100px;

}
section h2{
	margin-top:0;
	white-space:pre-wrap;
	font-size:2.8em;
	padding-bottom:100px;

}
section img:nth-of-type(2){
	height:100px;
	margin-right:100px;
}



article{

	display:flex;
	flex-direction:column;
	background-color:blue;

	

}
article img{
	width:100%;
}
article h1{
	font-size:3em;
	color:white;
	margin:auto;
}
article p{
text-align:center;
	font-size:2em;
	color:white;
	margin:auto;


}
article button{
	background-color:white;
	border-radius:10%;
	width:20%;
	height:80px;
	margin:3em auto;
	}
article a {
	text-decoration:none;
	font-size:3em;
	color:black;
}
#productplaatje{
	width:50%;
	margin:3em auto;
	background-color:white;

}
#product{
	background-color:white;
}
#product img:first-of-type{
	position:absolute;
	right:3em;
	width:3em;
}
#product h1{
	color:black;
	margin-left:2em;
}
}
table{
	font-size:3em;
	width:100%;
	margin-bottom:200px;
}
